<launch>
	<arg name="terrain_file_path_without_file_name" default="$(find strirus_ga_body_optimization)/maps/Generated_terrain"/>
	<arg name="world_file_path_without_extention" default="$(find strirus_ga_body_optimization)/worlds/testing_area"/>
	<arg name="results_path" default="$(find strirus_ga_body_optimization)/results/all_data.txt"/>
	<!-- need to divided without remainder -->
	<arg name="number_of_worlds" default="2"/>
	<arg name="max_simultaneous_processes" default="2"/>
	<!-- -->
	<arg name="simulation_time" default="15"/>

	<param name="terrain_file_path_without_file_name" value="$(arg terrain_file_path_without_file_name)"/>
	<param name="results_path" value="$(arg results_path)"/>
	<param name="world_file_path_without_extention" value="$(arg world_file_path_without_extention)"/>
	<param name="rosmaster_first_port" value="1234"/>
	<param name="gazebo_first_port" value="11345"/>
	<param name="number_of_worlds" value="$(arg number_of_worlds)"/>
	<param name="max_simultaneous_processes" value="$(arg max_simultaneous_processes)"/>
	<param name="simulation_time" value="$(arg simulation_time)"/>



	<node name="ga_body_optimization" pkg="strirus_ga_body_optimization" type="ga_body_optimization.py" output="screen" required="true"/>
</launch>
